web/log/development.log
*.rbc
capybara-*.html
.rspec
/web/log
/web/tmp
/web/db/*.sqlite3
/web/db/*.sqlite3-journal
/web/public/system
/web/coverage/
/web/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/web/.bundle
/web/vendor/bundle
.rvmrc
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags
*.DS_Store
