<%= render partial: "reviews/show", locals: { review: @review } %>

<div>
  <div class="bracket-box">
    <div class="squarebrackets">
      <center><%= link_to "+ create new project", new_project_path, class: "bracket-link cancel-link" %></center>
    </div>
  </div>
</div>

<% @projects.each do |project| %>
  <div>
    <div class="bracket-box">
      <div class="squarebrackets">
        <center><%= link_to project.title, project, class: "bracket-link" %></center>
      </div>
    </div>
  </div>
<% end %>
