//Colors

$dark-navy: #2F3847;
$med-navy: #464E5B;
$light-navy: #D5D7Da;
$med-black: #222;
$light-black: #444;
$dark-grey: #666;
$med-grey: #999;
$light-grey: #AAA;
$grey-white: #DDD;
$grey: #CCC;
$platinum: #EEE;


//Typography

$verdana: 'Verdana', sans-serif;
$cutive: 'Cutive', serif;


//Mobile breakpoints

$sm-screen: '375px';
$md-screen: '520px';
$lg-screen: '900px';