<div>
  <div class='mini-box'>
    <div class='squarebrackets'>
      <center><%= link_to '+ create new project', new_project_path, class: 'body-link' %></center>
    </div>
  </div>
</div>

<% @projects.each do |project| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <center><%= link_to project.title, project, class: 'body-link' %></center>
      </div>
    </div>
  </div>
<% end %>
