<div>
  <div class='mini-box'>
    <div class='squarebrackets'>
      <%= link_to '+ create new project', new_project_path, class: 'body-link' %><br />
    </div>
  </div>
</div>

<% @projects.each do |project| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <%= link_to project.title, project, class: 'body-link' %><br />
      </div>
    </div>
  </div>
<% end %>
