<h2><%= @project.title %></h2>
<br />
<%= @project.description %><br /><br />

<% @reviews.each do |review| %>
  <p><span class='carrot'>></span> <%= link_to review.content, review %></p><br />
<% end %>
<%= link_to 'new review', new_review_path(@project) %>
