<h2>Review</h2>

<p><span class="carrot">&gt;</span> <%= @review.content %></p><br />

<br />

<h3>Ratings</h3>

<p>Was this review kind, specific, and actionable?</p><br />

<div>
  <div class='mini-box' id='new-rating-box'>
    <div class='squarebrackets'>
      <center><%= link_to "+ rate review", new_rating_path(@review), class: 'body-link new-form-link', remote: true, id: 'new-rating-link' %></center>
    </div>
  </div>
</div>

<% @ratings.each do |rating| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <span class='body-link'>
        <center><% if rating.helpful %>
          <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
        <% end %>
        <% if !rating.explanation.blank? %>
          <br /><br />
          <span class='card-small-text'>
            <%= rating.explanation %>
          </span>
        <% end %></center>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div id='new-rating' class='load-form'></div>
